{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="cream-font font-two text-center p-2">{% trans "Sign In" %}</h2>
    <div class="col">
      <div class="card font-three cream-color brown-color text-center">
        <div class="card-body">
          <div class="card-title">
            <p>{% blocktrans %}If you have not created an account yet, then please
              <a href="{{ signup_url }}" class="btn font-two lilac-font">sign up</a>
              first.{% endblocktrans %}</p>


            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="primaryAction btn font-two lilac-font" type="submit">{% trans "Sign In" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock content %}