{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="cream-font font-two text-center p-2">{% trans "Sign Out" %}</h2>
    <div class="col">
      <div class="card font-three cream-color brown-color text-center">
        <div class="card-body">
          <p>{% trans 'Are you sure you want to sign out?' %}</p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn font-two lilac-font" type="submit">{% trans 'Sign Out' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock content %}