{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="cream-font font-two text-center p-2">{% trans "Sign Up" %}</h2>
    <div class="col">
      <div class="card font-three cream-color brown-color text-center">
        <div class="card-body">
          <div class="card-title">
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"><button
                  class="btn font-two lilac-font">sign
                  in</button></a>{% endblocktrans %}
            </p>
          </div>
          <div class="card-text">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn font-two lilac-font" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock content %}