{% extends "base.html" %}

{% block content %}
<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <!-- recipe list column -->
        <h2 class="cream-font font-two text-center p-2">Recipes</h2>
        <a href="{% url 'category' %}">Categories</a>
        <div class="col-12">
            <div class="row">
                {% for recipe in object_list %}
                <div class="col">
                    <div class="card mb-5">
                        <div>
                            <h3 class="font-two smaller-text">Category: {{recipe.category}}</h3>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="recipe-link">
                                <h3 class="card-title font-two text-center">{{recipe.recipe_name}}</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


<!-- index.html content ends here -->
{% endblock %}