{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- displays the recipes where the current logged in user is the author -->
        <h2 class="cream-font font-two text-center mb-5">My Recipes</h2>
        <div class="col-12 left">
            <div class="row">
                {% if profile|length == 0 %}
                <h3 class="cream-font font-two text-center p-2">You have no recipes</h3>
                <p class="cream-font font-three">Once you have uploaded a recipe you will be able to view
                    them here</p>
                {% else %}
                {% for recipe in profile %}
                <div class="col-md-4 col-lg-3">
                    <div class="card mb-5 cream-color">
                        <div class="card-body recipe-card d-flex flex-column justify-content-evenly">
                            <div class="card-title font-two text-center ">
                                {% if recipe.status == 1 %}
                                <a href="{% url 'recipe_detail' recipe.slug %}" class="recipe-link">
                                    <h3 class="card-title">{{recipe.recipe_name}}</h3>
                                </a>
                                {% elif recipe.status == 0 %}
                                <a href="#">
                                    <h3 class="grey-font">{{recipe.recipe_name}}</h3>
                                </a>
                                {% endif %}
                            </div>
                            <div class="card-text d-flex flex-column align-items-center font-two smaller-text">
                                {% if recipe.status == 0%}
                                <p class="brown-color mb-2">Awaiting
                                    approval</p>
                                {% else %}
                                <p class="lilac-font mb-2">Category: {{recipe.category}}</p>
                                <p class="lilac-font mb-2">Difficulty: {{recipe.difficulty}}</p>
                                <p class="lilac-font mb-2">Author: {{recipe.author}}</p>
                                <a href="{% url 'recipe_edit' recipe.slug %}"><button>Edit Recipe</button></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col d-flex justify-content-center">
                    <button onclick="window.history.back();" type="button"
                        class="btn font-two lilac-font font-size">Back</button>
                </div>
            </div>
        </div>

        {% endblock %}