{% extends "base.html" %}

{% block content %}
<!--<div class="container-fluid"> -->
<div class="row">

    <!-- lists all the recipes -->
    <h2 class="cream-font font-two text-center p-2">Recipes</h2>
    <a href="{% url 'home' %}"><button type="button"
            class="btn btn-one-position font-two lilac-font">Categories</button></a>
    <div class="col-12 left">
        <div class="row">
            {% for recipe in object_list %}
            <div class=" card-deck col-md-4 col-lg-3">
                <div class="card mb-5 cream-color">
                    <div class="card-body recipe-card d-flex flex-column justify-content-evenly">
                        <div class="card-title">
                            {% if recipe.status == 1 %}
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="recipe-link">
                                <h3 class="card-title font-two text-center">{{recipe.recipe_name|title}}</h3>
                            </a>
                            {% elif recipe.status == 0 %}
                            <a href="#">
                                <h3 class="font-two text-center grey-font">{{recipe.recipe_name|title}}</h3>
                            </a>
                            {% endif %}
                        </div>
                        <div class="card-text d-flex flex-column align-items-center font-two smaller-text">
                            {% if recipe.status == 0%}
                            <p class="brown-color mb-2">Awaiting
                                approval</p>
                            {% else %}
                            <p class="lilac-font mb-2">Category: {{recipe.category}}</p>
                            <p class="lilac-font mb-2">Difficulty: {{recipe.difficulty}}</p>
                            <p class="lilac-font mb-2">Author: {{recipe.author}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
</div>
</div>
{% endblock %}