{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>{{ recipe.recipe_name }}</h3>
            <p>Ingredients:
                {% for ingredient in recipe.ingredients.all %}
                <li>{{ ingredient.measurement }}{{ ingredient.unit }} {{ ingredient.ingredient_name }}</li>
                {% endfor %}
            </p>
            <p>Equipment: {{ recipe.equipment|safe }}</p>
            <p>Method: {{ recipe.method|safe }}</p>
            <p>Author: {{ recipe.author }}</p>
            <p>Category: {{ recipe.category }}</p>
            <p>Difficulty: {{ recipe.difficulty }}</p>
        </div>
    </div>

</div>

{% endblock %}