{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="row">

        <!-- displays the recipes where the current logged-in user is the author -->
        <h2 class="cream-font font-two text-center mb-5">My Recipes</h2>
        <div class="col-12 left">
            <div class="row">
                {% if profile|length == 0 %}
                <h3 class="cream-font font-two text-center p-2">You have no recipes</h3>
                <p class="cream-font font-three">Once you have uploaded a recipe you will be able to view
                    them here</p>
                {% else %}
                {% for recipe in profile %}
                <div class="col-md-4 col-lg-3">
                    <div class="card mb-5 cream-color">
                        <div class="card-body recipe-card d-flex flex-column justify-content-evenly">
                            <div class="card-title font-two text-center ">
                                {% if recipe.status == 1 %}
                                <a href="{% url 'recipe_detail' recipe.slug %}" class="recipe-link">
                                    <h3 class="card-title">{{recipe.recipe_name}}</h3>
                                </a>
                                {% elif recipe.status == 0 %}
                                <a href="#">
                                    <h3 class="grey-font">{{recipe.recipe_name}}</h3>
                                </a>
                                {% endif %}
                            </div>
                            <div class="card-text d-flex flex-column align-items-center font-two smaller-text">
                                {% if recipe.status == 0%}
                                <p class="brown-color mb-2">Awaiting
                                    approval</p>
                                {% else %}
                                <p class="lilac-font">Approved</p>
                                {% endif %}
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <h4><a href="{% url 'recipe_edit' recipe.slug %}"
                                        class="btn font-two lilac-font edit-btn">Edit Recipe</a></h4>

                                <button class="btn btn-delete-recipe font-two lilac-font ms-2 delete-btn"
                                    data-recipe_id="{{ recipe.id }}">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col d-flex justify-content-center">
                    <button onclick="window.history.back();" type="button"
                        class="btn font-two lilac-font font-size">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteRecipeModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content cream-color font-two brown-color">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel"><strong>Warning!!</strong>You are about to delete your
                    Recipe?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hi {{ user }}, are you sure you want to delete your Recipe? Once deleted it cannot be undone.
                If you have changed your mind then select Cancel. If you would still like to delete your Recipe then
                press the Delete button below.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary lilac-font font-two"
                    data-bs-dismiss="modal">Cancel</button>
                <a href="#" id="deleteRecipeConfirm" class="btn btn-danger brown-color font-two">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
<script src="{% static 'js/recipe.js' %}"></script>
{% endblock %}