@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

h1 {
    font-size: 200%;
    font-weight: 5;
}

.font-one {
    font-family: 'Outfit', sans-serif;
}

.main-color {
    background-color: #F58871;
}

.cream-color {
    background-color: #FCEFE6;
}

.brown-color {
    color: #7B573E;
}