{% load static %}

{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'recipe_upload' as recipe_upload_url %}
{% url 'users_recipe' as my_recipes_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baking Bliss</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Custome CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex main-color">
    <!-- Header -->
    <header class="cream-color">
        <!-- Navbar menu -->
        <nav class="navbar navbar-expand-lg" id="#navbarText">
            <div class="container">
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="#navbarText" aria-expanded="false" aria-label="Toggle navigation menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-margin" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 font-two">
                            <li class="nav-item me-lg-5" id="nav-item-one"><a href="{% url 'home' %}">Home</a></li>
                            <li class="nav-item ms-lg-5 me-lg-5" id="nav-item-two"><a href="{% url 'about' %}">About</a>
                            </li>
                            <li class="nav-item ms-lg-5 dropdown">
                                <a class="nav-link dropdown-toggle nav-item-three dropdown-font coral-color" href="#"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Account
                                </a>
                                <ul class="dropdown-menu nav-item-three">
                                    {% if user.is_authenticated %}
                                    <li class="dropdown-item lilac-font">
                                        Hi {{ user }}
                                    </li>
                                    <li class="dropdown-item dropdown-font"><a href="{% url 'recipe_upload' %}">Upload a
                                            Recipe</a></li>
                                    <li class="dropdown-item dropdown-font"><a href="{% url 'users_recipe' %}">My
                                            Recipes</a></li>
                                    <li class="dropdown-item dropdown-font"><a
                                            {% if request.path == logout_url %}active{% endif %} aria-current="page"
                                            href="{% url 'account_logout' %}">Logout</a></li>
                                    {% else %}
                                    <li class="dropdown-item dropdown-font"><a {% if request.path == signup_url %}
                                            active{% endif %} aria-current="page"
                                            href="{% url 'account_signup' %}">Register</a></li>
                                    <li class="dropdown-item dropdown-font"><a
                                            {% if request.path == login_url %}active{% endif %} aria-current="page"
                                            href="{% url 'account_login' %}">Login</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Website Name -->
        <nav class="margin-left">
            <div class="container">
                <h1 class="brown-color font-one text-uppercase">Baking Bliss</h1>
            </div>
        </nav>
    </header>



    <!-- Main Content -->
    <main>

        <!-- Django messages -->
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col font-two cream-font" id="message-alignment">
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible
                    fade show" id="msg" role="alert">
                            {{ message | safe }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </nav>
        <nav>

        </nav>
        {% block content %}
        <!-- Content goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->

    <footer class="cream-color">
        <h6 class="brown-color font-one text-center p-2">Copyright<i class="fa-regular fa-copyright"></i> Baking Bliss
            2024</h6>
    </footer>

    <!-- Font Awesome  -->
    <script src="https://kit.fontawesome.com/244c1138b0.js" crossorigin="anonymous"></script>

    <!-- Bootstrap Styling -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <!-- script for running comment edit and delete buttons -->
    {% block extras %}

    {% endblock %}

</body>

</html>