{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'recipe_upload' as recipe_upload_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baking Bliss</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Custome CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex main-color">
    <!-- Header -->
    <header class="cream-color">
        <!--
        <h1 class="brown-color font-one text-center text-uppercase">Baking Bliss</h1>
        -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="#navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 font-two">
                            <a href="{% url 'home' %}">
                                <li class="nav-item" id="nav-item-one">Home</li>
                            </a>
                            <a href="">
                                <li class="nav-item" id="nav-item-two">About</li>
                            </a>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle nav-item-three dropdown-font" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Account
                                </a>
                                <ul class="dropdown-menu nav-item-three">
                                    {% if user.is_authenticated %}
                                    <a {% if request.path == logout_url %}active{% endif %} aria-current="page"
                                        href="{% url 'account_logout' %}">
                                        <li class="dropdown-item dropdown-font">Logout</li>
                                    </a>
                                    <a href="{% url 'recipe_upload' %}">
                                        <li class="dropdown-item dropdown-font">Upload a Recipe</li>
                                    </a>
                                    <a href="{% url 'users_recipe' %}">
                                        <li class="dropdown-item dropdown-font">My Recipes</li>
                                    </a>
                                    {% else %}
                                    <a {% if request.path == signup_url %} active{% endif %} aria-current="page"
                                        href="{% url 'account_signup' %}">
                                        <li class="dropdown-item dropdown-font">Register</li>
                                    </a>
                                    <a {% if request.path == login_url %}active{% endif %} aria-current="page"
                                        href="{% url 'account_login' %}">
                                        <li class="dropdown-item dropdown-font">Login</li>
                                    </a>
                                    {% endif %}
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="margin-left">
            <div class="container">
                <h1 class="brown-color font-one text-uppercase">Baking Bliss</h1>
            </div>
        </nav>
    </header>
    <nav>


        <!-- Main Content -->
        <main>
            <!-- displaying Django messages -->
            <nav>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible
                      fade show" id="msg" role="alert">
                                {{ message | safe }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </nav>
            {% block content %}
            <!-- Content goes here -->
            {% endblock content %}
        </main>
        <!-- Footer -->

        <footer class="cream-color">
            <h6 class="brown-color font-one text-center">Copyright<i class="fa-regular fa-copyright"></i> Charlotte
                Galpin
                2024</h5>
        </footer>

        <!-- Font Awesome  -->
        <script src="https://kit.fontawesome.com/244c1138b0.js" crossorigin="anonymous"></script>

        <!-- Bootstrap Styling -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>
</body>

</html>